/node_modules/
/.vscode/settings.json
/cypress/screenshots/
/cypress/screenshots/**
/cypress/videos/
/cypress/videos/**
/cypress/videosFolder/
/cypress/downloads/**
/cypress/downloads/**
results
results/*.xml
cypress/results/doc
**/api-doc.json
cypress.env.json
package-lock.json
/cypress/fixtures/geral/tmp/**
/cypress/fixtures/geral/tmp/*.json

